

// Metrics Files
dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}
trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}
report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}

// Profiles
profiles {
    standard {
        process.executor = 'local'
    }

    hpc_lsf {
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            executor = 'lsf'
        }
    }

    hpc_slurm {
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            executor = 'slurm'
            queue = 'componc_cpu'
        }
    }

    cloud {
        docker {
          enabled = true
          runOptions = "--entrypoint ''"
        }
        process {
            executor = 'local'
            container = 'papaemmelab/purple:v0.1.1'
        }
    }
}

// Executor properties
executor {
    name = 'lsf'
    perJobMemLimit = true
}
