// Metrics Files
dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}
trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}
report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}

process {
    executor = 'local'
    withName: 'runAmber|runCobalt|binCobalt|runPurple' {
        container = 'papaemmelab/purple:v0.1.1'
    }
    withName: 'runSage' {
        container = 'quay.io/biocontainers/hmftools-sage:3.4.4--hdfd78af_0'
    }
}

singularity {
    enabled = true
    autoCleanUp = true
    autoMounts = true
    cacheDir = '/data1/papaemme/isabl/opt/singularity'
    envWhitelist = 'SINGULARITY_BINDPATH,SINGULARITYENV_LD_LIBRARY_PATH,SINGULARITYENV_LD_PRELOAD'
}

// Profiles
profiles {
    // Computing Environment
    cloud {
        process.executor = 'local'
        singularity.enabled = false
        docker {
          enabled = true
          runOptions = "--entrypoint ''"
        }
    }
    
    // Executors
    local {
        process.executor = 'local'
        singularity.enabled = false
    }   
    
    lsf {
        process {
            executor = 'lsf'
            perJobMemLimit = true
        }
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'componc_cpu,componc_gpu'
        }
    }
        
}