// Params Defaults
params {
    cores = 1 
    memory = '4 GB'
    genomeVersion = 37
    circos = "/opt/circos-0.69-2/bin/circos"
    loci = "/data/copy_number/GermlineHetPon.37.vcf.gz"
    gcProfile = "/data/copy_number/GC_profile.1000bp.37.cnp"
    ensemblDataDir = "/data/common/ensembl_data"
    diploidRegions = "/data/copy_number/DiploidRegions.37.bed.gz"
    binProbes = 0
    binLogR = 0
    minPurity = 0.08
    maxPurity = 1.0
    help = false
    normal = null
    // https://nextflow-io.github.io/patterns/optional-input
    normalBam = "${projectDir}/assets/NO_FILE"
}

// Metrics Files
dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}
trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}
report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}

process {
    executor = 'local'
    withName: 'runAmber|runCobalt|binCobalt|runPurple' {
        container = 'papaemmelab/purple:v0.1.1'
    }
    withName: 'runSage' {
        container = 'quay.io/biocontainers/hmftools-sage:3.4.4--hdfd78af_0'
    }
}

singularity {
    enabled = true
    autoCleanUp = true
    autoMounts = true
    cacheDir = '/data1/papaemme/isabl/opt/singularity'
    envWhitelist = 'SINGULARITY_BINDPATH,SINGULARITYENV_LD_LIBRARY_PATH,SINGULARITYENV_LD_PRELOAD'
}

// Profiles
profiles {
    // Computing Environment
    cloud {
        process.executor = 'local'
        singularity.enabled = false
        docker {
          enabled = true
          runOptions = "--entrypoint ''"
        }
    }
    
    // Executors
    local {
        process.executor = 'local'
        singularity.enabled = false
    }   
    
    lsf {
        process {
            executor = 'lsf'
            perJobMemLimit = true
        }
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'componc_cpu,componc_gpu'
        }
    }
        
}