config {
    testsDir "tests"
    workDir ".nf-test"
    configFile "tests/nextflow.config"
    profile "cloud"
}

params {
    memory = '4 GB'
    tumor = "TEST"
    binProbes = 100
    binLogR = 0.5
    cobalt_ratio_pcf = "${projectDir}/tests/outdir/cobalt/TEST.cobalt.ratio.pcf"
    cobalt_ratio_tsv = "${projectDir}/tests/outdir/cobalt/TEST.cobalt.ratio.tsv.gz"
}