params {
    tumor = "TEST_TUMOR"
    normal = "TEST_NORMAL"
    tumorBam = "${projectDir}/tests/data/input/tumor.bam"
    normalBam = "${projectDir}/tests/data/input/normal.bam"
    outdir = "${projectDir}/tests/outdir"
    refGenome = "${projectDir}/tests/data/ref/reference.fasta"
    binProbes = 100
    binLogR = 0.5
    memory = '4 GB'
}
