/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    memory = '4 GB'
    tumor = "TEST_TUMOR"
    normal = "TEST_NORMAL"
    tumorBam = "${projectDir}/tests/data/input/tumor.bam"
    normalBam = "${projectDir}/tests/data/input/normal.bam"
    refGenome = "${projectDir}/tests/data/ref/reference.fasta"
    ensemblDataDir = "${projectDir}/tests/data/ref/ensembl_data"
    outdir = "${projectDir}/tests/outdir"
    binProbes = 100
    binLogR = 0.5
}